# Environment variables example
# AI Studio & Runtime Configuration
DISABLE_HMR=false

# Firebase Configuration
FIREBASE_API_KEY=AIzaSyBvmfuzhLdlTH5ojj6CE1J3_MC2tVDx1uA

# Optional Gemini API Key
GEMINI_API_KEY=
